.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #d5dce3;
  
}

.header-left {
  display: flex;
  align-items: center;
}

.github-logo {
  width: 100px;
  height: 100px;
  margin-right: 4rem;
  margin-left: 2rem;
 
}

.header-nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  
}

.header-nav-item {
  margin-left: 1rem;
}

.header-nav-link {
  text-decoration: none;
  color: #080808;
  font-size: 30px;
  font-weight: bolder;
  margin-right: 3rem;
  
}

.header-nav-link:hover {
  text-decoration: underline;
}
