.topic-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.topic-button,
.topic-button-selected {
  background-color: rgba(242, 8, 8, 0.85);
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 15px;
  border: 2px solid rgb(251, 244, 244);
}

.topic-button-selected {
  background-color: rgba(85, 90, 85, 0.85);
}

.topic-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  color: white;
  margin-left: 3rem;
}
