.topic-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.topic-button,
.topic-button-selected {
  background-color: rgba(242, 8, 8, 0.85);
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 15px;
  border: 2px solid rgb(251, 244, 244);
}

.topic-button-selected {
  background-color: rgba(85, 90, 85, 0.85);
}

.topic-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  color: white;
  margin-left: 3rem;
}

/* Media queries for responsive design */
/* Mobile devices */
@media (max-width: 767px) {
  .topic-button,
  .topic-button-selected {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    margin-right: 30px;
  }

  .topic-title {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .topic-button,
  .topic-button-selected {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    margin-right: 40px;
  }

  .topic-title {
    font-size: 1.3rem;
    margin-left: 2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) and (max-width: 1919px) {
  .topic-button,
  .topic-button-selected {
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    margin-right: 50px;
  }

  .topic-title {
    font-size: 1.5rem;
    margin-left: 3rem;
  }
}

/* 4K screens */
@media (min-width: 1920px) {
  .topic-button,
  .topic-button-selected {
    font-size: 1.5rem;
    padding: 0.6rem 1.2rem;
    margin-right: 60px;
  }

  .topic-title {
    font-size: 1.8rem;
    margin-left: 4rem;
  }
}
